body {
  font-family: "Open Sans", sans-serif;
}
.navbar-dark label {
  font-size: 11px;
  color: #6dc72a;
  line-height: 11px;
}

.navbar-toggler {
  padding: 0.25rem 0.25rem;
}

.navbar-toggler-icon {
  width: 1em;
}

.row-header {
  margin-top: 30px;
}

.navbar-dark label span {
  display: block;
  line-height: 11px;
}

.top-input,
.top-input::placeholder {
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(91, 91, 91);
}
.btn-toast-input,
.toast-input {
  margin: 0 4px;
  border-radius: 5px;
  width: 25px;
  text-align: center;
}

.btn-toast-input.valid,
.toast-input.valid {
  border: 1px solid #6dc72a;
}

.toast-input.invalid {
  border: 1px solid #ff0000;
}

.sms-legend {
  font-size: 12px;
  text-align: right;
  margin: auto 5px;
  line-height: 14px;
}
.sms-legend a {
  color: #333;
  font-size: 11px;
  text-decoration: underline;
}

.masthead {
  height: 100vh;
  padding-top: 100px;
  min-height: 500px;
  background-image: url("../img/Bg_1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.masthead-form {
  height: 100vh;
  padding-top: 100px;
  min-height: 500px;
  background-image: url("../img/rocket-child.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 30px;
  background-repeat: no-repeat;
}

.masthead-cotizador {
  padding-top: 80px;
}

.masthead-title {
  font-size: 50px;

  color: rgb(255, 255, 255);
  font-weight: 600 !important;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.hidden {
  display: none !important;
}

.masthead-subtitle {
  font-size: 30px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
}

.masthead-list {
  font-size: 17px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.navbar.navbar-dark {
  margin-top: 0;
  height: 50px;
  color: #ffffff;
  background-color: #000000 !important;
}

.navbar {
  margin-top: 50px;
  max-height: 76px;
}

.navbar-menu {
  margin-top: 126px;
}

.menu,
.navbar-nav {
  width: 100%;
}

.navbar-nav .nav-link span.decorator {
  opacity: 0;
}

.navbar-nav .nav-link:hover span.decorator {
  border: 2px solid #be3564;
  height: 2px;
  display: block;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  opacity: 1;
}

.header-violeta {
  font-size: 32px;
  color: rgb(94, 91, 182);
}

.navbar-nav .nav-link:hover span.decorator:before {
  content: "";
  border-bottom: 1px solid #d0d0d0;
  width: 50px;
  height: 0.5px;
  float: left;
  margin: 0px 0px 0px -52px;
}

.navbar-nav .nav-link:hover span.decorator:after {
  content: "";
  border-bottom: 1px solid #d0d0d0;
  width: 50px;
  height: 0;
  margin: 0px 0px 0px 15px;
  position: absolute;
}

.logo {
  height: 50px;
}

.icon-btn {
  height: 20px;
}

.check-icon {
  height: 15px;
  margin-left: 10px;
}

.close-icon {
  height: 15px;
  vertical-align: center;
}

.white-icon {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 white);
  filter: opacity(0.5) drop-shadow(0 0 0 white);
}

.btn-primary,
.btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
  background-color: #f16192;
  border: 0;
  border-bottom: 1px solid #be3564;
  outline: none;
}

.btn-secondary {
  background-color: #6dc72a;
  border: 0;
}

.form-action {
  background-color: #6dc72a;
  padding: 4px 15px;
  border-radius: 15px;
}

.form-action label {
  color: white;
}

.testimonial-subtitle {
  font-size: 15px;
  font-family: "Helvetica";
  color: rgb(136, 136, 136);
  line-height: 1.733;
  text-align: center;
}

.testimonial-card {
  margin: 0 auto;
  border: 0;
  background: transparent;
}
.testimonial-card .carousel-item {
  height: 200px;
}
.testimonial-card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  color: #3d3d3d;
}
.testimonial-card .carousel-caption h3 {
  color: #3d3d3d;
}
.testimonial-card .carousel-caption p {
  line-height: 30px;
}
.testimonial-card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.testimonial-card .carousel-caption .col-sm-9 {
  text-align: left;
}
.testimonial-card .carousel-control-prev,
.testimonial-card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: #fff;
  font-size: 14px;
  background-color: #cd3a54;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.85;
}
.carousel-control-prev {
  left: 36%;
  top: 110%;
}
.carousel-control-next {
  right: 40%;
  top: 110%;
}

.separator {
  width: 30px;
  border: 2px solid #be3564;
}

.separator:before {
  content: "";
  border-bottom: 1px solid #d0d0d0;
  width: 50px;
  height: 0.5px;
  float: left;
  margin: 0px 0px 0px -52px;
}

.separator:after {
  content: "";
  border-bottom: 1px solid #d0d0d0;
  width: 50px;
  height: 0;
  margin: 0px 0px 0px 32px;
  position: absolute;
}

.testimonials {
  background-image: url("../img/BG3.jpg");
  background-size: cover;
}

.perfil {
  width: 197px;
}

.quote-card {
  border: 1px solid #eeeeee;
  background-color: rgb(250, 250, 255);
  height: 172px;
  margin-left: -32px;
  margin-top: 1rem;
  padding: 2rem 8rem 1rem 3rem;
}

.quote-icon {
  font-size: 50px;
  font-family: "Georgia";
  color: rgb(216, 216, 216);
  line-height: 0.52;
  position: absolute;
}

.quote-icon.left {
  left: 1rem;
}

.quote-icon.rigth {
  right: 7rem;
  bottom: 1rem;
}

.quote-card small {
  font-size: 14px;

  color: rgb(136, 136, 136);
  line-height: 1.2;
}

.smallest.mute {
  margin-top: 4px;
  font-size: 16px;
  display: block;
  color: #f16192;
}

.steps {
  background-color: #5e5bb6;
  min-height: 120vh;
}

.steps-subtitle {
  font-size: 15px;

  color: rgb(204, 204, 204);
  line-height: 1.733;
  text-align: center;
}

.step-title {
  font-size: 22px;

  color: white;
  line-height: 1.8;
  text-align: center;
}

.row-with-medallion {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}
.row-with-medallion .quadrant {
  max-width: 270px;
}

.the-medallion {
  position: absolute;
  left: 43%;
  top: 34%;
  margin-top: -75px;
  margin-left: -75px;
  /* animation: rotate 4s; */
  animation: myOrbit 4s;
  animation-fill-mode: backwards;
}

.icon-step {
  height: 20px;
  margin: 14px;
  fill: black;
}

.row-with-medallion small {
  font-size: 13px;

  color: rgb(204, 204, 204);
  line-height: 1.633;
  text-align: center;
}

.row-with-medallion p {
  line-height: 9px;
}

a {
  color: inherit;
}

.menu-steps {
  width: 373px;
  height: 373px;
}

.credenz-icon {
  background: transparent;
  border-radius: 100%;
  width: 350px;
  height: 350px;
  margin-left: -13px;
  margin-top: 64px;
  position: absolute;
  border: 1px solid rgb(120, 117, 198);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.credenz-icon-inner {
  background: transparent;
  border-radius: 100%;
  width: 235px;
  height: 235px;
  margin-left: 60px;
  margin-top: 57px;
  position: absolute;
  border: 1px solid rgb(120, 117, 198);
}

.credenz-icon img {
  width: 100px;
  position: absolute;
  top: 36%;
  left: 36%;
}
.steps-icon {
  background: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.steps-icon img {
  -webkit-filter: grayscale(1) invert(0);
  filter: grayscale(1) invert(0);
}

.steps-icon:hover img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.steps-icon:hover {
  background: #f16192;
  color: #ffffff;
}

.steps-icon-1 {
  position: absolute;
  left: 37%;
  top: 40px;
  transition-property: left, top;
  transition-duration: 3s;
}

.steps-icon-2 {
  position: absolute;
  left: -9px;
  top: 33%;
}

.steps-icon-3 {
  position: absolute;
  right: 40px;
  top: 33%;
}

.steps-icon-4 {
  position: absolute;
  right: 16%;
  bottom: -3%;
}

.steps-icon-5 {
  position: absolute;
  left: 4%;
  bottom: -3%;
}
.card-header {
  background: #ffffff;
  border-bottom: 0;
  padding-bottom: 0;
}
.card-header img.collapse-icon {
  width: 1em;
  margin: 10px 0;
}

.card-header h2 {
  font-size: 14px !important;
  color: rgb(119, 119, 119);
  text-transform: uppercase;
}
.collapsing .card-body,
.collapse .card-body {
  color: rgb(136, 136, 136) !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  padding-top: 0px;
  line-height: 1.733;
  text-align: left;
}

.footer {
  background-color: rgb(39, 39, 39);
  color: #fff;
}

.footer-nav {
  justify-content: space-between;
  width: 95%;
}

.footer-nav .nav-link {
  color: #fff;
}

.footer-bottom {
  background-color: rgb(30, 30, 30);
  height: 50px;
}

.footer p {
  font-size: 13px;

  color: rgb(152, 152, 152);
  line-height: 1.846;
  padding-right: 1rem;
  padding-top: 2rem;
  text-align: justify;
}

.footer .nav-link {
  font-size: 13px;

  color: rgb(255, 255, 255);
  line-height: 1.154;
}

.footer-bottom {
  font-size: 12px;

  color: rgb(152, 152, 152);
  line-height: 2.667;
  text-align: center;
}

.social {
  text-align: left;
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.social ul li.icon-social {
  text-align: center;
  display: inline-block;
  zoom: 1;
  width: 35px;
  height: 35px;
  border: 1px solid #989898;
  background-color: transparent;
  border-radius: 35px;
  *display: inline;
  vertical-align: middle;
}
.social ul li.icon-social:hover {
  background-color: #f16192;
  border: 1px solid #f16192;
}
.social ul li a {
  display: block;
  font-size: 0.9em;
  line-height: 2.2em;
  text-decoration: none;
}

.social ul li.icon-social a i {
  color: #989898;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social ul li.icon-social:hover a i {
  color: #fff;
}
.social ul li.icon-social:focus a i,
.social ul li.icon-social:active a i {
  transition: none;
  color: #ffffff;
}

.input-form,
.dropdown-toggle,
.dropdown-toggle:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.dropdown-menu,
.btn-secondary:focus,
.btn.dropdown-toggle,
.btn-secondary.dropdown-toggle:not(:disabled):not(.disabled):active:focus {
  /* styling */
  box-shadow: none;
  background-color: transparent;
  border: thin solid white;
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  outline: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
  color: #75bbac;
  background-color: #ffffff;
}
select.form-control,
select.form-control:focus {
  /* styling */
  background-color: transparent;
  border: thin solid white;
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  outline: none;
}

select.form {
  background: url("../img/icons/down-arrow.png") no-repeat right 0.75rem center,
    linear-gradient(to right, #fff, #fff) no-repeat right 2rem center;
  /* background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0; */
  background-size: 12px, 1px;
  color: white;
}

.dropdown-menu-estado {
  transform: translate3d(443px, 42px, 0px) !important;
}

select.form:after {
  border-left: 1px solid #fff;
  content: "\00a0";
  position: absolute;
  top: 0;
  right: 46px;
  z-index: 2;
  display: block;
  height: 38px;
}

.input-form {
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.input-form::placeholder {
  background: transparent;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

.input-form::-webkit-input-placeholder {
  background: transparent;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.input-form:-moz-placeholder {
  background: transparent;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.input-form::-moz-placeholder {
  background: transparent;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}
.input-form:-ms-input-placeholder {
  background: transparent;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: normal;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #fff;
    background: transparent;
  }
}

.input-form:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.input-form ~ img.valid-check {
  position: absolute;
  right: 25px;
  top: 13px;
  opacity: 0;
}

.input-form.valid {
  border: 1px solid #6dc72a;
}

.input-form.valid ~ img.valid-check {
  opacity: 1;
}

.input-form ~ img.invalid-check {
  position: absolute;
  right: 25px;
  top: 13px;
  opacity: 0;
}

.input-form.invalid {
  border: 1px solid #ff0000;
}

.input-form.invalid ~ img.invalid-check {
  opacity: 1;
}

.progress-bar-striped {
  border-radius: 10px;
  background-image: -moz-linear-gradient(
    -90deg,
    rgb(222, 241, 148) 0%,
    rgb(184, 217, 85) 100%
  );
  background-image: -webkit-linear-gradient(
    -90deg,
    rgb(222, 241, 148) 0%,
    rgb(184, 217, 85) 100%
  );
  background-image: -ms-linear-gradient(
    -90deg,
    rgb(222, 241, 148) 0%,
    rgb(184, 217, 85) 100%
  );
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.45);
}

.progress-completed {
  color: #333;
}

.popover {
  max-width: 100px;
  border: 1px solid rgb(130, 157, 55);
  border-radius: 10px;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(116, 154, 12) 0%,
    rgb(168, 211, 36) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(116, 154, 12) 0%,
    rgb(168, 211, 36) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(116, 154, 12) 0%,
    rgb(168, 211, 36) 100%
  );
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
  font-size: 1rem;
}

.popover .popover-body {
  color: #fff;
  line-height: 1.1rem;
  text-align: center;
}
.bs-popover-top > .arrow::after {
  border-top-color: rgb(116, 154, 12);
}

.dropdown-toggle {
  background: url("../img/icons/down-arrow.png") no-repeat right 0.75rem center,
    linear-gradient(to right, #fff, #fff) no-repeat right 2rem center;
  /* background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0; */
  background-size: 12px, 1px;
  color: white;
}

.dependencia-div {
  display: none;
}

.container-dependencia {
  margin: 0.5rem;
}
.dependencia-div ~ label {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.dependencia-div + label:hover,
.dependencia-div:checked + label {
  background: rgba(255, 255, 255, 0.6);
}

.masthead-form .form-group label {
  color: white;
  font-weight: 300;
}

.dependencia-div:checked + label .img-snte {
  background: rgba(255, 255, 255, 0.6);
}

.container-dependencia img {
  height: 60px;
}

.btn-step {
  background-color: #5c57aa;
  color: white;
}

.code-input {
  width: 40px;
}

.code-input-form {
  width: 40px;
}

.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #fff;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle input:hover + label {
  border-color: #fff;
}
.toggle input:checked + label {
  background-color: #63b525;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  box-shadow: 0 0 10px rgba(99, 181, 37, 0.5);
  border-color: #63b525;
  z-index: 1;
}
.toggle input:focus + label {
  outline: none;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto 0;
}
.lds-hourglass.white {
  width: 14px;
  height: 14px;
  margin: 0 2px 0 -8px;
}
.fa-commenting-o {
  margin-left: -7px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0 5px;
  box-sizing: border-box;
  border: 11px solid #63b525;
  border-color: #63b525 transparent #63b525 transparent;
  animation: lds-hourglass 1.2s infinite;
}
.lds-hourglass.white:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0 2px;
  box-sizing: border-box;
  border: 8px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: lds-hourglass 1.2s infinite;
}

.oferta-header {
  background-color: rgba(135, 195, 41, 0.388);
  box-shadow: 0px 8px 4.65px 0.35px rgba(0, 0, 0, 0.43);
  max-width: 470px;
  padding: 1rem 1rem;
  margin: 2rem auto;
}

.oferta-header img {
  position: absolute;
  height: 20px;
  top: 20px;
}

.money-offer {
  font-size: 50px;
  margin-top: -12px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 8px 4.65px rgba(0, 0, 0, 0.15);
}
.money-offer .money-symbol {
  font-size: 25px;
  vertical-align: super;
  margin-right: -13px;
}
.money-offer small {
  font-size: 13px;
  display: block;
}

.descuentos {
  margin: 2rem 1rem;
}

.descuentos .descuento-text {
  font-size: 13px;
  margin: 0 1rem;
}

.descuentos .descuento-amount {
  color: rgb(92, 86, 170);
  line-height: 1.2;
  font-size: 38px;
}

.descuento-amount .money-symbol {
  font-size: 19px;
  vertical-align: super;
  margin-right: -10px;
}

.mensualidades-text {
  font-weight: 600;
  font-size: 15px;
  color: rgb(92, 86, 170);
  text-decoration: underline;
}

.accept-offer {
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  background-color: #6dc82b;
  display: block;
  margin: 0 auto;
}

.white-box {
  background-color: rgba(255, 255, 255, 0.388);
  box-shadow: 0px 8px 4.65px 0.35px rgba(0, 0, 0, 0.43);
  width: fit-content;
}

.white-box .descuentos {
  margin: 0.5rem 1rem;
}

.btn-link-offer {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-decoration: underline;
  line-height: 1.2;
  text-align: center;
}
.testimonial-card .carousel-item.item-cotizador {
  height: 165px;
}

.quote-card-cotizador {
  border: none;
  background-color: rgba(0, 0, 0, 0.412);
  color: #fff;
  height: 132px;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}
.cotizador {
  height: 70vh;
  width: auto;
  background-image: url("../img/cotizador-rectangle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.progress-container {
  background-color: rgb(246, 246, 246) !important;
}

.icon-congratulate {
  height: 25px;
}

/* original css */
.sliderWrap {
  margin: 20px 15px;
}

.rangeslider,
.rangeslider__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 5px;
  width: 80%;
  margin: 0 auto;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: linear-gradient(to right, #ffc400, #e1a700);
  position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: #ffc400;
  color: #ffffff;
  font-family: arial;
  font-size: 14px;
  border: 1px solid #ffc400;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 22px;
}

.rangeslider__handle:after {
  font-family: FontAwesome;
  content: "\f105";
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}

.rangeslider__handle:before {
  font-family: FontAwesome;
  content: "\f104";
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  margin-right: 3px;
}

.rangeslider__handle:active {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

.rangeslider--horizontal .rangeslider__handle {
  top: -13px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.min {
  padding-top: 5px;
  padding-left: 30px;
  color: #cccccc;
}

.max {
  padding-top: 5px;
  padding-right: 10px;
  color: #cccccc;
}

@-webkit-keyframes shake {
  0%,
  45% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  65%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  45% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  65% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  65%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.calc-tooltip {
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  background: #32be00;
}

.calc-tooltip:before {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 7px;
  border-top-color: #32be00;
}

.shake-active {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.range {
  position: relative;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
  display: none;
}

.range input::-moz-range-thumb {
  display: none;
}

.range input::-ms-thumb {
  display: none;
}

.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #5cb85c;
}

.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #5cb85c;
}

.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #5cb85c;
}

.range input:focus {
  background: none;
  outline: none;
}

.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  margin: 18px -190px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-labels li {
  position: relative;
  float: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: #5cb85c;
  font-family: "nexa_regular";
  font-size: 14px;
  cursor: pointer;
}

.range-labels li::before {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  content: "|";
  margin: 0 auto;
  width: 9px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio-btn-offer {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .radio-btn-offer:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s),
      -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .radio-btn-offer:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .radio-btn-offer:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .radio-btn-offer:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .radio-btn-offer:disabled + label {
    cursor: not-allowed;
  }
  .radio-btn-offer:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .radio-btn-offer:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .radio-btn-offer:not(.switch) {
    width: 21px;
  }
  .radio-btn-offer:not(.switch):after {
    opacity: var(--o, 0);
  }
  .radio-btn-offer:not(.switch):checked {
    --o: 1;
  }
  .radio-btn-offer + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  .radio-btn-offer {
    border-radius: 50%;
    margin: auto 10px;
  }
  .radio-btn-offer:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  .radio-btn-offer:checked {
    --s: 0.5;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes myOrbit {
  100% {
    transform: rotate(45deg);
  }
  /* from {
    transform: rotate(0deg) translateX(1px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(1px) rotate(-360deg);
  } */
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 800px) {
  .toggle input + label {
    padding: 0.75rem 0.25rem;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-dark .mx-auto {
    margin-left: -22px !important;
  }
  .navbar-menu {
    margin-top: 111px;
  }
  .row-header {
    margin-top: 0;
  }
  .top-input {
    width: 100px;
    padding-left: 0px;
    text-align: center;
  }

  .toast-input {
    width: 20px;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 1px;
  }
  .btn-toast-input {
    width: 18px;
    height: 22px;
    font-size: 12px;
    padding: 0;
    margin: 0 -1px;
  }
  .logo {
    height: 36px;
  }
  .masthead {
    background-position: 75%;
  }
  .masthead-form {
    background-position: 12% 100px;
  }
  .masthead-title {
    font-size: 28px;
  }
  .masthead-subtitle {
    font-size: 20px;
  }
  .form-action {
    width: 80%;
    margin-right: 4px;
  }
  .form-action .form-control {
    display: inline;
    width: 68%;
  }
  .form-action label {
    color: white;
    margin-right: 0 !important;
  }
  .quote-card {
    height: 167px;
    margin-left: -26px;
    margin-top: 0.5rem;
    padding: 1rem;
  }
  .quote-icon.left {
    left: 0rem;
  }
  .quote-icon.rigth {
    right: 0rem;
    bottom: -1rem;
  }
  .row-with-medallion .quadrant {
    max-width: 98%;
  }

  .row-with-medallion .mb-4 {
    margin-bottom: 0 !important;
  }
  .row-with-medallion .pt-5 {
    padding-top: 0 !important;
  }
  .row-with-medallion small {
    font-size: 14px;
  }
  .steps-icon {
    margin: 0 auto;
  }
  .card-header {
    padding: 0.75rem 0.25rem;
  }
  .accordion > .card .card-header {
    margin-bottom: -20px;
  }
  .card-header h2 > img {
    height: 20px;
  }
  .footer .pl-3 {
    padding-left: 0 !important;
  }
  .footer .logo-container {
    display: flex;
    flex-direction: column;
  }
  .footer .logo-container img {
    margin: 0 auto;
  }
  .footer-bottom {
    height: auto;
  }
  .menu,
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .label-step-form {
    font-style: 13px;
  }
  .container-dependencia img {
    height: 40px;
  }
  .money-offer {
    font-size: 35px;
  }
  .money-offer .money-symbol {
    font-size: 16px;
    margin-right: -5px;
  }
  .white-box .descuentos {
    margin: 0.5rem 0.5rem;
  }
  .descuentos .descuento-amount {
    position: relative;
    margin: auto 0;
    font-size: 25px;
    padding-left: 11px;
  }
  .descuento-amount .money-symbol {
    position: absolute;
    font-size: 17px;
    left: 0;
    top: 4px;
  }
  .money-dicount {
    margin-left: 8px;
  }
  .descuentos .descuento-text {
    font-weight: bold;
  }
  .radio-btn-offer:not(.switch) {
    width: 23px;
  }
  .radio-btn-offer:not(.switch):after {
    opacity: var(--o, 0);
  }
  .radio-btn-offer:not(.switch):checked {
    --o: 1;
  }
  .radio-btn-offer + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  .radio-btn-offer {
    border-radius: 50%;
    margin: auto 10px;
  }
  .radio-btn-offer:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
  }
  .radio-btn-offer:checked {
    --s: 0.6;
  }
  .masthead-cotizador {
    height: 146vh;
  }
  .cotizador {
    height: 52vh;
    margin-top: 4.5rem;
    margin-left: -12px;
    margin-right: -12px;
  }
  .cotizador .mb-3 {
    margin-bottom: 0.2rem !important;
  }
  .cotizador select.form-control {
    width: 61%;
  }
  .quote-card-cotizador {
    border: none;
    background-color: rgba(250, 250, 255, 0.412);
    height: 131px;
    margin: 1rem 1rem;
    padding: 0.5rem 40px 0.5rem 15px;
  }
  .navbar-nav.navbar-home .btn-primary {
    position: absolute;
    left: 27%;
    top: 124%;
  }
  .testimonial-card .carousel-item.item-cotizador {
    height: 156px;
  }
  .carousel-item.item-cotizador .quote-icon.rigth {
    right: 3rem;
    bottom: 1rem;
  }
}
